.disk {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background: orangered;
    border: 5px dashed mediumseagreen;
    border-radius: 50%;
    font-size: 4em;
    color: white;
}

button {
    padding: 1em;
    color: white;
    background: #000;
    border: 2px solid mediumseagreen;
    font-size: 1em;
    letter-spacing: .2em;
}